body {
  padding: 0;
  margin: 3em; 
  font-family: 'Source Sans Pro', input-mono-narrow, sans-serif;
  line-height: 1.4em;
  font-size: 16px;
  background: #f5ffff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

nav {
  text-transform: uppercase;
  text-align: center;
}

nav li {
  color: red;
  display: inline-block;
  font-size: 1.2em;
  margin-right: 0.5em;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  margin: 1em 0 3em 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.75em;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 1.75em;
  margin-top: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1.25em;
}

h3, table {
  margin-top: 2em;
}

nav ul {
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container:after {
  content:"";
  display: table;
  clear: both;
}

.block {
  display: none;
}

a, .button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background: yellow;
}

h1 a {
  background: none !important;
}


p {
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

section {
  margin-bottom: 4em;
}

img {
  max-width: 100%;
}

li img {
  margin: 0.5em 0;
}

table {
  width: 100%;
}

tr {
  vertical-align: top;
}

td:nth-child(1) {  
  width: 15%;
  font-weight: bold;
}

td:nth-child(2) {  
  width: 15%;
}

td {
  width: 70%;
}

ol li {
  margin-bottom: 1em;
}

#meetings {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#meetings tr:nth-child(1) {
  text-decoration: underline;
}
#meetings td:nth-child(1) {
  font-weight: normal;
}

#meetings td:nth-child(2) {  
  min-width: 6em;
}

.spacer {
  height: 1em;
}
.weekspacer {
  height: 3em;
}

#projects h3 {
  display: block;
  float: left;
  clear: both;
  margin: 0.5em 0;
}

#projects div {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}

#projects h4 {
  font-weight: bold;
}

a:hover, .button:hover, #projects h3:hover, #projects h4:hover {
  background: white;
  cursor: pointer;
}

.label {
  font-weight: bold;
}


pre {
  line-height: 1.45em;
}

#bird-cnv {
  position:fixed;
  top: 50px;
  right: 50px;
}

#updated {
  width: 100%;
  text-align: right;
  color: #d0d0d0;
  position: relative;
  right: -1.5em;
  bottom: -1.5em;
}

.sr-only {

  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;            /* 3 */
}


@media screen and (max-width: 800px) {
  body {
    margin: 2em;
  }

  h1 {
    width: 100%;
    text-align: center;
  }


  #links {
    text-align: center;
    width: 95%;
  }

  nav {
    width: 100%;
    left: 0;
    top: 5em;
  }

}

@media screen and (max-width: 1110px) {
  #bird-cnv {
    display:none;
  }

  .content {
    width: 100%;
  }
}