.DS_Store
*/.DS_Store
_OLD/F16/documentation/*
_OLD/F16/docs/*
_OLD/S17
documentation/*
docs/*
_notes/*
*.mp4
.vscode/*
*/.vscode/*
assets/week6/08_ResponsiveDesign/05_orientation/.vscode/
assets/week6/08_ResponsiveDesign/04_nav_breakpoints/.vscode/